<!DOCTYPE html>
<html lang="en_GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ config.app_name }}</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/site/assets/main.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.ga_property }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ config.ga_property }}');
    </script>

</head>
<body>
<div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                {{ config.app_name }}
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="navOpen = !navOpen">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" :class="{'is-active': navOpen}" id="navMenu">
            <div class="navbar-start"></div>
            <div class="navbar-end">

            </div>
        </div>
    </nav>

    <section id="content" class="section">
        <div class="container is-fluid">
            {% block content %} {% endblock %}
        </div>
    </section>


</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>{{ config.app_name }}</strong> &copy; {{ now|date("Y") }} <a href="mailto:{{ config.adminEmail }}">{{ config.adminEmail }}</a>.
            </p>
        </div>
    </div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="/site/assets/main.js"></script>

</body>
</html>
